body {
    background: light gray;
    height:100%; 
    background: url("../images/concrete_seamless.png");

}

header {
    position:fixed;
    z-index: 1;
    top:0px;
    left:0px;    
    margin:0%;
    padding: 0px 125px 0px 125px;
    height:85px;
    width:100%;
    background:#777777;
    border-bottom:2px solid #cccccc;
}

nav {
    /* overflow: hidden; */
    width: flex;
    margin: auto;
}

.namebox {
    float: left;
    position: relative;
    left: 26px;
    top: 0px;
    width: 250px;
    height: 83px;
    padding: 0px 20px;
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif, Times, Times New Roman, serif;
    background:#4aaaa5;
    color:white;    
}

.name {
    position: relative;
    padding: auto;
    margin: auto;
    vertical-align: center;
}

h { 
    position: relative;
    top: 15px;
    font-size: 30px; 
    font-weight: bold;
}

.buttonbox {
    position: relative; 
    float: right;
    width: flex;
    /* padding: 0px -20px; */
    
    top: 16px;
    left: 18px;
}

button {
    height:50px;
    width:85px;
    text-align: center;
    font-family: Arial, Times, Times New Roman, serif;
    color:#ffffff;
    border:none;
    background:#4aaaa5;
    text-decoration: none;    
}

a:visited {
    color: white;
}

.index:visited {
    color: blue;
}

button:visited {
    color:d#ffffff;
    text-decoration: none;
}

/* Center website */
body {
    padding: 20px;
}

.wrapper {
    /* z-index: 0; */
    max-width: 960px;
    top: 100px;
    left: 170px;
    box-sizing: border-box;
    margin: auto;
    min-height: 200px;
    height: flex;
    margin-top: 100px;
    margin-bottom: 40px;
    border: 1px solid #dddddd;
    background:#ffffff;
    color:#777777;
    font: 30px;
    padding: 15px 25px;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
float: left;
width: 25%;
}

.image{
    margin: 5px 25px;
    padding: 5px;
    float: left;
}

img {
    position: relative; 
    right: 25px;
    margin:25px;
    height: 250px;
    width: 250px;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 960px) {
    .column {
        width: 50%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.namebox2 {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    margin:25px;
}

hr {
    width:910px;
    margin: auto; 
}

.p {
    float: clear;
    height: flex;
    color: black;    
}

.contact-form {
    height: flex;
    width: 100%;
    padding: 20px;
    margin-bottom: 25px;
    margin: auto;
}

#contact {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    left: 0px;
}

#submit {
    position:relative;
    z-index: 99;
    bottom: -25px;
    height:35px;
    width:85px;
    color: #ffffff;
    background:#4aaaa5;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size:16px;
    border:1px solid #dddddd;    
}

footer {
    height: 65px;
    width:100%;
    bottom:0%;
    left:0%;
    background:#666666;
    border-top: 5px solid #4aaaa5;
    text-align: center;

}

.copy {
    position:relative;
    bottom:0px;
}