body {
    background: light gray;
    height:100%; 
    background: url("../images/concrete_seamless.png");

}

header {
    position:fixed;
    z-index: 1;
    top:0px;
    left:0px;    
    margin:0%;
    height:85px;
    width:100%;
    background:#777777;
    border-bottom:2px solid #cccccc;
}

nav {
    width:960px;
    margin-left:170px;
}



.name {
    float:left;
    position:relative;
    left:26px;
    width:250px;
    height:83px;
    top:0px;
    text-align: center;
    font-size:35px;
    font-family: Georgia, Times, Times New Roman, serif;
    padding-left: 50px;
    background:#4aaaa5;
    color:white;
    
}

.namebox {
    position:absolute;
    right: 36px;
    padding: auto;
    margin: auto;
    vertical-align: center;
    top:25px;   
    font-size: 30px;
    font-weight: bold;
} 

.buttonbox {
    position:relative; 
    float:right;
    left:24px;
    width: flex;
}

a:visited {
    color: white;
    }

.index:visited {
    color: blue;
}

button {
    position:relative;
    top:17px;
    height:50px;
    width:85px;
    text-align: center;
    font-family: Georgia, Times, Times New Roman, serif;
    color:#ffffff;
    border:none;
    background:#4aaaa5;
    text-decoration: none;
    /* border:1px solid #dddddd; */
    
}
button:visited {
    color:d#ffffff;
    text-decoration: none;
}

.wrapper {
    /* position:absolute; */
    z-index: 0;
    width: 960px;
    top: 100px;
    left: 170px;
    margin: auto;
    min-height: 200px;
    height: flex;
    margin-top: 100px;
    margin-bottom: 40px;
    border: 1px solid #dddddd;
    background:#ffffff;
    color:#777777;
    font: 30px;
    padding: 15px 25px;
}

.namebox2 {
    position: relative;
    /* top:25px;    */
    font-size: 30px;
    font-weight: bold;
    margin:25px;
}

h1 {
    position: relative;
    left:25px;
    font-size:25px;
} 

hr {
    width:910px;
    margin: auto;
  
}

table {
    margin:auto;    
}

tr {
    margin:auto ;
    padding:auto ;
}

img {
    margin:25px;
    height: 250px;
    width: 250px;
}

.image6 {
    visibility: hidden;
}

.image7 {
    visibility: hidden;
}

.image8 {
    visibility:hidden
}

.image9 {
    visibility:hidden;
}

.image {
    /* position:relative; */
    float:left;
    /* margin-top:15px; */
    /* margin-left:15px; */
    margin:25px;
    border:1px solid #dddddd;
    /* padding-bottom: 25px; */
}

.p {
    position:relative; 
    left:10px;
    float:clear;
    height:flex;
    margin-left:0px;
    margin-top:25px;    
    margin-bottom:25px;
    margin-right:25px;
color: black;
    
}

.contact-form {
    height:flex;
    width: 100%;
    padding:20px;
    margin-bottom:25px;
    margin: auto;
}

#contact {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    left: 0px;
}

#submit {
    position:relative;
    z-index: 99;
    bottom: -25px;
    /* top:495px; */
    /* left:21px;  */
    height:35px;
    width:85px;
    color: #ffffff;
    background:#4aaaa5;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size:16px;
    border:1px solid #dddddd;
    
}

footer {
    height: 65px;
    width:100%;
    bottom:0%;
    left:0%;
    background:#666666;
    border-top: 5px solid #4aaaa5;
    text-align: center;

}

.copy {
    position:relative;
    bottom:0px;
}